@import url(https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto&family=Rubik:wght@700&display=swap);
html {
  background: -webkit-linear-gradient(top, #0e0b06, #5f4d39, #6c507a);
}
body {
  margin: 0;
  padding: 0;
}
#title {
  color: aliceblue;
  padding-top: 20px;
  margin-left: 80px;
  font-family: "Great Vibes", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}
.main-navigation-container {
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #0f0d07;
}
.header-nav-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
  justify-content: space-around;
  width: 100vw;
  padding-bottom: 20px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}
.navbar-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.hierarchical-flex-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 46px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: -20px;
}
.navbar-logo {
  display: flex;
  width: 200px;
  height: 200px;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 180px;
  margin-right: 40px;
}
.navigation-link {
  padding: 0;
  margin: 0;
  color: white;
  text-decoration: none;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding-top: 60px;
}
.box {
  padding: 0;
  opacity: 0.8;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  width: 520px;
  height: 833px;
}
img {
  width: 500px;
  height: 500px;
  margin-top: 15px;
  border-radius: 20px;
}
.box:hover {
  opacity: 1;
  transition: 0.1s;
  cursor: pointer;
}
a:hover {
  color: rgb(151, 106, 7);
}
.description {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: larger;
  font-weight: 400;
  padding: 15px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}
.separator {
  display: block;
  margin: 60px auto;
  height: 80px;
}
.main-information {
  font-size: 20px;
  font-weight: 400;
  color: aliceblue;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 80px;
  font-family: "Great Vibes", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}
.navbar-container-footer {
  box-sizing: border-box;
  display: inline-block;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(89, 58, 104);
}
.menu-card-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
}
.horizontal-menu-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 38px;
  align-items: center;
  justify-content: flex-start;
  margin-left: 35px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}
.urbanist-menu-link {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  color: white;
  text-decoration: none;
}
.email-input-container {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 8px;
  min-width: 328px;
  height: 60px;
  padding-right: 12px;
  padding-left: 160px;
  justify-content: space-between;
  background: rgb(89, 58, 104);
  border-radius: 36px;
}
.urbanist-email-input-label {
  flex: 0 0 auto;
  font: 500 16px Urbanist, sans-serif;
  color: rgba(255, 255, 255, 0.8);
  text-transform: capitalize;
  opacity: 0.8;
  margin-left: 500px;
  width: 328px;
  border-radius: 36px;
  background: rgb(89, 58, 104);
}
.email-input-icon {
  box-sizing: border-box;
  display: block;
  width: 60px;
  max-width: initial;
  height: 50px;
  margin-top: 3px;
}
